/* General styling */
* {
    box-sizing: border-box;
}

html {
    font-family: Montserrat;
}

body {
    margin: 0;
    padding: 0;
    color: #222;
    background: tan;
}

/* Navigation styles */

div.navbar {
    display: flex;
    flex-direction: column;
}

div.top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.75em;
    background-color: hsl(46, 25%, 38%);
    color: whitesmoke;
}

div.left-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    padding: 0.75rem;
}

.nav-search {
    width: 6.5rem;
    border-radius: 4px;
    border: none;
}

div.right-nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    padding: 0.75rem;
}

div.topnav-items {
    background-color: transparent;
    border: 1px solid whitesmoke;
    border-radius: 4px;
    padding: 0.25rem;
    width: 6.5rem;
    text-align: center;
}

div.topnav-items:hover {
    border: 1px solid whitesmoke;
    background-color: whitesmoke;
    color: hsl(46, 25%, 38%);
    cursor: pointer;
}

h1.main-header {
    text-align: center;
}

div.categories {
    text-align: center;
    margin-bottom: 1rem;
}

/* Hero section styles */

div.hero-container {
    max-width: 100%;
}

img.hero-img {
    max-width: 100%;
}

/* Meals section styles */

#headline {
    text-align: center;
}

div.meals {
    padding: 1rem;
    max-width: 95%;
    margin: 0 auto;
}

div.meal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 90%;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.5);
    margin: 2rem auto;
    border-radius: 8px;
    transform: translateX(-20);
    transition: all 0.3s;
    background-color: burlywood;
}

div.meal:hover {
    transform: scale(1.025, 1.025);
}

img.meal-img {
    width: 100%;
    height: 15rem;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}

div.meal-details {
    padding: 1rem;
    text-align: center;
}

div.footer-els {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: whitesmoke;
    background-color: hsl(46, 25%, 38%);
    padding: 1rem;
    text-align: center;
}

div.footer-els span {
    padding: .2rem;
}

div.rights {
    font-size: 80%;
    margin-top: 0.65rem;
}

/* Small devices */
@media only screen and (min-width: 600px) {
    div.top-nav {
        justify-content: space-between;
    }

    div.left-nav {
        flex-direction: row;
        justify-content: space-between;
    }

    div.right-nav {
        flex-direction: row;
        justify-content: space-between;
    }

    div.topnav-items {
        margin: 0 0.65rem;
        font-weight: 500;
    }

    .nav-search {
        padding: 0.30rem;
        width: 7.5rem;
    }

    div.meal {
        max-width: 65%;
    }

    div.footer-els {
        flex-direction: column;
    }
}

/* Medium devices */
@media only screen and (min-width: 768px) {
    div.meal {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 240px;
        max-width: 80%;
    }

    div.meal-details {
        text-align: left;
    }

    div.meal img {
        width: 200px;
        height: inherit;
        margin-right: 1.2rem;
        border-radius: 8px 0 0 8px;
    }

    
    /* #pizza {
        width: 160px;
    } */
}

/* Large devices */
@media only screen and (min-width: 992px) {
    div.meal {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 210px;
        max-width: 65%;
    }

    div.meal-details {
        text-align: left;
    }

    div.meal img {
        width: 230px;
        height: inherit;
        margin-right: 1.2rem;
        border-radius: 8px 0 0 8px;
    }

    /* #pizza {
        width: 140px;
    } */

    div.rights {
        font-size: 100%;
    }
}